{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Add Student {% endblock %}

{% block body %}
<body>
<div class="container">
    <form method="POST" action=''>
        <table class="table">
            <tr>
        <td>First Name</td>
        <td><input type = "text" name = "first_name" class="form-control" value="{{students.first_name}}"/></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type = "text" name = "last_name" class="form-control" value="{{students.last_name}}"/></td>
    </tr>

    <tr>
        <td>Email</td>
        <td><input type = "email" name = "email" class="form-control" value="{{students.email}}" /></td>
    </tr>

    <tr>
        <td>Contact</td>
        <td><input type = "text" name = "contact" class="form-control" value="{{students.contact}}" oninput="this.value = this.value.replace(/[^0-9.+]/g, '').replace(/(\..*)\./g, '$1');"/></td>
    </tr>

    <tr>
        <td>Password</td>
        <td><input type = "password" name = "password" class="form-control" value="{{students.password}}"/></td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>
          Male: <input type = "radio" name = "gender"  value="male"
          {% if  students.gender=='male'  %}
             checked
          {% endif  %}
          />
         Female: <input type = "radio" name = "gender"  value="female"
         {% if  students.gender=='female'  %}
         checked
      {% endif  %}
         />
        </td>
    </tr>

    <tr>
        <td>Hobbies</td>
        <td>

            Cricket : <input type="checkbox" name="hobbies"  value="cricket" 
            {% if 'cricket' in students.hobbies %}
               checked
            {% endif %}
            >
            Movies : <input type="checkbox"  name="hobbies"  value="movies"
            {% if 'movies' in students.hobbies %}
                checked
            {% endif %}
            
            >
            TV : <input type="checkbox"  name="hobbies"  value="tv"
            {% if 'tv' in students.hobbies %}
               checked
            {% endif %}
            >
           
        </td>
    </tr>



    <tr>
        <td>Country</td>
        <td>
        <select name="country" class="form-control">
            <option value="india"
            {% if 'india' in students.country %}
            selected
           {% endif %}
            >India</option>
            <option value="usa"
            {% if 'usa' in students.country %}
              selected
           {% endif %}
            >USA</option>
            <option value="australia"
            
            {% if 'australia' in students.country %}
            selected
          {% endif %}
            >Australia</option>
         </select>
        </td>
    </tr>
    

    <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
        </td>
       
    </tr>

        </table>

    </form>
</div>
</body>
<style>
    body{
        background : black;
        background-size: 100%;
        background-position: left;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
        color: white;
    }
</style>
{% endblock%}